.mensagem {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    background: #31547f;
    color: white;
    text-shadow: 1px 1px 4px #414141;
    width: 106%;
    margin: -3%;
    padding: 19% 0;
}