.carrinho {
    font-family: fantasy;
    height: 100%;
    background: white;
    position: relative;
    
    .listaItens{
        height: calc(100% - 50px);
        
        .carrinhoFooter {
            display: block;
            width: 100%;
            height: 50px;
            clear: both;
            text-align: right;
            font-size: 1.5rem;
            color: #36b900;
        }
        hr {
            clear: both;
        }
    }   
}


