.produto {
    width: 47%;
    height: 30%;
    float: left;
    overflow: hidden;
    background: white;
    padding: 1%;
    margin: 0.5%;

    .img{
        background: center center no-repeat;
        background-size: contain;
        width: 100%;
        height: 47%;
        overflow: hidden;
    }

    .marca-logo {
        position: absolute;
        background: 0 0 no-repeat;
        background-size: contain;
        width: 70px;
        height: 45px;
    }

    button {
        width: 99%;
        height: 30%;
    }
    
    button:active{
        background: rgb(255, 205, 67);
        transform: translateY(2px);
    }

    .produto-footer {
        height: 53%;
    }

    .desc-container {
        display: block;
        height: 40%;
        overflow: hidden;
    }

    label{
        text-transform: capitalize;
    }

    .marca{
        font-weight: bolder;
        color: orangered;
    }

    .valor{
        text-align: right;
        font-weight: bold;
        display: block;
        font-size: 3vh;
        height: 30%;
    }
}

.produtoDetalhe {
    height: 350px;
    min-height: 400px;
    width: 100%;
    position: relative;
    font-family: sans-serif;

    .det-logo {
        width: 100px;
        height: 60px;
        background: 0 0 no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
    }

    .det-img {
        width: 100%;
        height: 61%;
        background: center center no-repeat;
        background-size: contain;
    }

    .det-descricao {
        font-weight: bolder;
        font-size: 1.5rem;
        margin-bottom: 5%;
        color: #3f3f3f;
    }

    .det-valores {
        margin-bottom: 5%;
        width: 100%;
        
        .det-preco {
            font-weight: bold;
            font-size: 1.3em;
            color: #3f3f3f;
            overflow: hidden;
            max-width: 42%;
            float: left;
            margin-top: 1%;
            width: 45%;
        }
        
        
        button {
            width: 45px;
            height: 31px;
            margin-left: 3%;
            font-size: 1.3em;
            float: right;
        }

        button:active{
            transform: scale(0.9);
        }
        button:disabled{
            background: gray;
        }

        .separador {    
            margin-top: 1%;
            border: 0 !important;
            width: 9%;
            font-size: 1.3rem;
            text-align: center;
            font-weight: bold;
            outline: 0;
            float: left;
        }

        input {
            border: 0 !important;
            width: 12%;
            font-size: 1.3rem;
            text-align: center;
            font-weight: bold;
            outline: 0;
            margin-top: 0.5%;
        } 
        input:focus {
            outline: 0;
        }
    }

    .det-total {
        font-weight: bold;
        font-size: 2em;
        text-align: right;
        display: block;
        color: green;
        margin-bottom: 3%;
    }

    .detalhe-footer {
        height: 11%;
        width: 100%;

        button {
            width: 48%;
            float: left;
            height: 100%;
            font-size: 1rem;
            margin: 1%;
        }
    }
}

.listaProdutos{
    position: absolute;
    top: 60px;
    overflow: auto;
    height: calc(100% - 60px);
    width: 100%;
}


