.produto {
    width: 47%;
    height: 30%;
    float: left;
    overflow: hidden;
    background: white;
    padding: 1%;
    margin: 0.5%;

    .img{
        background: center center no-repeat;
        background-size: contain;
        width: 100%;
        height: 47%;
        overflow: hidden;
    }

    .marca-logo {
        position: absolute;
        background: 0 0 no-repeat;
        background-size: contain;
        width: 70px;
        height: 45px;
    }

    button {
        width: 99%;
        height: 30%;
    }
    
    button:active{
        background: rgb(255, 205, 67);
        transform: translateY(2px);
    }

    .produto-footer {
        height: 53%;
    }

    .desc-container {
        display: block;
        height: 40%;
        overflow: hidden;
    }

    label{
        text-transform: capitalize;
    }

    .marca{
        font-weight: bolder;
        color: orangered;
    }

    .valor{
        text-align: right;
        font-weight: bold;
        display: block;
        font-size: 3vh;
        height: 30%;
    }
}

.produtoDetalhe {
    height: 350px;
    width: 100%;

    .detalhe-footer {
        height: 100px;
        width: 100%;
        background:red;

        button {
            width: 50%;
            float: left;
            height: 100%;
            font-size: 1rem;
        }
    }
}

