.itemCarrinho{
    padding: 7px 7px 0 7px;

    hr {
        clear: both
    }

    .image {
        background: center center no-repeat;
        background-size: contain;
        height: 70px;
        width: 70px;
        float: left;
        margin-right: 15px;
    }
    .descricao {
        font-size: 1.3rem;
        margin-bottom: 25px;
    }
    .valor {
        font-size: 1.4rem;
        margin-bottom: 10px;
        float: left;
    }
    input {
        float: right;
        font-weight: bold;
        font-size: 1.2rem;
        width: 15%;
        border: 0;
        border-bottom: 1px solid gray;
        text-align: center;
        margin: 0 7px 0 8px;
    }
    button {
        width: 35px;
        height: 25px;
        float: right;
    }
    .total-caption{
        font-size: 1.2em;
        color: #505050;
        font-weight: normal;    
        text-align: right;
        clear: both;
    }
    .total {
        text-align: right;
        clear: both;
        font-size: 2rem;
        font-weight: bold;
        color: #52c200;
    }
}